.allNotesMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noteList {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}